@media screen and (min-width: 320px){
    .header {
        height: auto;
        display: block;
    }
    .header__img{
        margin: auto;
        display: block;
    }
    .header ul{
        display: block;
    }
    .header a{
        justify-content: center;
    }
    .button{
        display: block;
        text-align: center;
        width: 140px;
        height: auto;
        margin: 0 auto;
    }
    .hero{
        display: block;
    }

    .hero__container{
        width: 100%;
        text-align: center;
        padding: 10px;
       
    }
    .hero__container-img{
        width: 100%;
    }
    .btn{
        width: 120px;
        height: auto;
        margin-top: 20px;
    }

    .home{
        display: block;
        margin: 0;
        padding: 0;
        padding-top: 50px;
    }

    .home__container{
        width: 100%;
        text-align: center;
        padding: 20px 20px 20px 20px;
        text-align: justify;
       
    }
    .home__h2{
        font-size: 32px;
        letter-spacing: 1px;
      
    }

    .btn-2{
        width: 160px;
        height: auto;
    
    }

    .home__img{
        width: 100%;
        justify-content: center;
    }
    
    
    }
    @media screen and (min-width: 480px){
        .btn-2{
            display: inline-block;
        }
    }

    @media screen and (min-width: 768px){
        .header{
            display: flex;
        }

        .header ul{
            display: flex;
        }
        .btn-2{
            display: inline-block;
        }
    }

    @media screen and (min-width: 990px){

        .hero__article{
            display: flex;
            justify-content: space-between;
        }

        .hero__container{
            width: 50%;
            text-align: left;
        }

        .items__icons{
            width: 150px;
        }
        .hero__container-img{
            width: 50%;
        }

        .btn{
            display: inline-block;
        
    }

        .home{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
        }

        .home__img{
            width: 50%;
        }
        
        .home__container{
            width: 50%;
            margin: 0;


    }
         .btn-2{
             display: inline-block;
         }    
}