body{
    background: linear-gradient(to right, #2E3D7F, #4561C0);
    color: white;
    font-family: 'source sans pro';
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', 'open sans';
    font-weight: 500;
    letter-spacing: 1px;
}

.header{
    background: #293852;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    z-index: 100;
    top: 0;
}

.header ul{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
}

.header a{
    color: white;
    padding: 10px;
    font-family: 'open sans';
    height: inherit;
    display: flex;
    

}

.button{
    display: inline-block;
    border: 1px solid #48e0a6;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
    color: #48e0a6;
}
.button:hover{
    background: #48e0a6;
    color: black;
}



.header__img{
    width: 206px;
}

.hero{
    margin-top: 40px;
    flex-wrap: wrap;
}
.hero__h1{
    line-height: 1,2em;
    font-size: 32px;
}
.hero__article{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__container{
    width: 500px;
}

.hero__container-img{
    width: 570px;
}

.btn{
    margin-top: 20px;
    padding: 10px 20px;

}

.hero__p{
    line-height: 28px;
}

.section__lenguajes{
    margin-top: 40px;
    margin-bottom: 40px;
}

.title__h4{
    display: flex;
    justify-content: center;
}
.items__icons{
    width: 230px;
}

.imagenes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.home{
    background: #293852;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding: 60px;
   
}
.home__img{
    width: 570px;
}
.home__h2{
    font-size: 32px;
    margin-bottom: 30px;
    
}
.home__p{
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
    
}
.btn-2{
    margin-top: 40px;
    border-color: #4e7fff;
    color: #4e7fff;
    padding: 10px 20px;
}

.btn-2:hover{
    background: #4e7fff;
    color: white;
}

.home__container{
    width: 500px;
    margin-right: 70px;
}



.container{
    max-width: 1200px;
    flex: 1;
    margin: 0 auto;
    flex-wrap: wrap;
    height: inherit;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

